{{/* Content adapter: emit one page per consolidated dictionary term from data/terms.json. */}}
{{ $data := hugo.Data.terms }}
{{ range $data.terms }}
  {{ $page := dict
      "path" .slug
      "title" .title
      "kind" "page"
      "params" (dict
          "en_raw"     .en_raw
          "bg_raw"     .bg_raw
          "letter"     .letter
          "multi"      .multi
          "groups"     .groups
      )
  }}
  {{ $.AddPage $page }}
{{ end }}
